!!! 5
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %title Title
    %link(rel="stylesheet" href="lib/js/jquery/jquery.mobile-1.2.0.min.css")
    %script(lang="javascript" src="lib/js/native_accessor/src/native_accessor.js")
    %script(lang="javascript" src="lib/js/native_accessor/src/fake/message_process.js")
    %script(lang="javascript" src="lib/js/native_accessor/src/fake/fake_native_accessor.js")
    %script(lang="javascript" src="lib/js/infrastructure/native.js")
    %script(lang="javascript" src="lib/js/cordova/cordova-2.1.0.js" )
    %script(lang="javascript" src="lib/js/mock/cordova_mock.js" )
    %script(lang="javascript" src="lib/js/jquery/jquery-1.8.2.min.js")
    %script(lang="javascript" src="lib/js/jquery/jquery.mobile-1.2.0.min.js")
    =include_js
    %script(lang="javascript" src="js/application.js")
  %body
    %div{'data-role'=>"header"}
      %h1 报名信息
    %div{:id=>"content"}
      %ul{:id=>"saveSms_callBack",'data-role'=>"listview",:class=>"ui-listview"}


    %div{'data-role'=>"content",:class=>"ui-body"}
      %a{:style=>"visibility:hidden;",:id=>"dialog",:href=>"#popupDialog",'data-rel'=>"popup",'data-position-to'=>"window",'data-role'=>"button",'data-inline'=>"true",'data-transition'=>"pop"}Dialog
      %div{'data-role'=>"popup" ,:id=>"popupNested" ,'data-theme'=>"none"}
        %div{'data-role'=>"popup",:id=>"popupDialog",'data-overlay-theme'=>"a",'data-theme'=>"c" ,:style=>"max-width:400px;",:class=>"ui-corner-all"}
          %div{'data-role'=>"header",'data-theme'=>"a",:class=>"ui-corner-top"}
            %h1 Dialog
          %div{'data-role'=>"content",'data-theme'=>"d",:class=>"ui-corner-bottom ui-content"}
            %p{:id=>"message"}
            %a{:href=>"#",:onclick=>"process_send_sms('Y')",'data-role'=>"button",'data-inline'=>"true",'data-rel'=>"back",'data-theme'=>"c",'data-transition'=>"flow" } Y
            %a{:href=>"#",:onclick=>"process_send_sms('N')",'data-role'=>"button",'data-inline'=>"true",'data-rel'=>"back",'data-theme'=>"c"} N
      =partial 'pages'



